pybind11 == 2.13.6
numpy == 1.26.4 # using numpy 1.x to avoid errors in test_prediction
matplotlib == 3.9.2
scikit-learn == 1.5.2
tqdm == 4.67.0
ipykernel == 6.29.5
torch == 2.5.1
torchvision == 0.20.1
torchaudio == 2.5.1